/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --hfs: clamp(1.75rem, 6.6vh, 2.75rem);
    --hfs-b: clamp(2.75rem, 8vh, 3.5rem);
    --ff-main: 'Poppins';
    --margin: 1rem;
    --padding-bg: 6rem;
    --padding: 1rem;
    --footerColor:#048b8b;
    --bgcolor: black;
    --bgcolor-contrast: #333;
    --fontcolor-primary1: #9BF2EA;
    --fontcolor-primary2: #0FC2C0;
    --fontcolor-primary4: #008684;
    --fontcolor-primary3: #EEE;
    --headerbgcolor: #0a1321;
    --bordercolor2: #08161b69;
    --bordercolor: #006597;
    --hovereffect: #2300c072;
    --project-heading-color: #38f79b72;
    --skill-heading-color: rgb(253, 57, 8);
    --headercolor: linear-gradient(45deg, #222831, #3b595b, #31363F);
    --fs-sm: 1.75rem;
    --fs: 1.25rem;
    --ff-header: "Space Mono", monospace;
    --fs-heading: 3.25rem;
    --fs-heading-sm: 1.5rem;
    --box-color: #2f2e2e;
    --link-color: #05fb9d;
}

/* GENERAL SYLES */

html {
    scroll-behavior: smooth;
    background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--fontcolor-primary2);
    border-radius: 15px;
}

abbr, a {
    text-decoration: none;
}

/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
    display: block;
}

#canvas1 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--bgcolor);
    width: 100%;
    height: 100%;
    filter: blur(22px) contrast(22) saturate(2);
}

.active {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/* END OF THE UTILITY CLASSES */

/* Section Animations */

.intersect {
    opacity: 0;
    backdrop-filter: blur(10px);
    filter: contrast(10) saturate(10);
    transition: all 1.75s;
}

.show-intersect {
    opacity: 1;
    filter: contrast(1) saturate(1);
    backdrop-filter: blur(0px);
}

/* End of Section Animations */


/* Preloder */

.preloader {
    visibility: visible;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    z-index: 10000;
    position: absolute;
}

.hide-preloader {
    visibility: hidden;
    z-index: -10000;
}

/* End of Preloader styling*/


.hero-container {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    background: transparent;
    width: 100%;
    height: 100%;

    header {
        width: 100%;
        padding: 1rem;
        position: absolute;
        top: 0%;
        left: 0%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
    }

    .inner {
        z-index: 1000;
        color: var(--fontcolor-primary4);
        background-color: var(--fontcolor-primary4);
        width: 350px;
        height: auto;
        padding: 2rem;
        position: relative;
        clip-path: circle(9% at 90.5% 22.5%);
        opacity: 1;
        filter: none;
        transition: clip-path 0.5s ease-in-out;
        border-radius: 20px;

        span {
            position: absolute;
            top: 13.5%;
            left: 89.5%;
        }
    }

    .inner:hover {
        background-color: var(--box-color);
        clip-path: circle(80%);
        color: var(--fontcolor-primary2);

        span {
            display: none;
        }
    }
}

.slider {
    position: absolute;
    font-size: var(--hfs);
    color: var(--fontcolor-primary3);
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    z-index: 12;

    .main-name {
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
    }

    .domain-name {
        text-shadow: 
            1px 1px 0 #00504e,
            -1px -1px 0 #00504e,
            2px -2px 0 #00504e,
            -1px 2px 0 #00504e,
            0px 1px 0 #00504e,
            1px 0 0 #00504e,
            0 -1px 0 #00504e,
            -1px 0 0 #00504e,
            3px 3px 6px #00504e;
    }
}

.blur-div {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--hovereffect);
    backdrop-filter: blur(10px);
    opacity: 0.5;
    z-index: 1;
}

.hero {
    width: 100%;
    height: 100vh;
    margin-bottom: 5px;
}

.hero-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    color: var(--fontcolor-primary2);
    font-size: var(--fs-heading);
    font-family: var(--ff-header);
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.8;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;

    #background-2{
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: contrast(2) saturate(15);
        background-color: rgba(0,0,0,0.25);
    }
}

.hero-projects {
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
    margin-top: 2rem;

    .project-header {
        width: 30%;
        background-color: var(--project-heading-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: var(--fontcolor-primary3);
        
        .project-span-heading {
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                0 2px 0 #000,
                2px 0 0 #000,
                0 -2px 0 #000,
                -2px 0 0 #000,
                2px 2px 5px #000;
        }
    }

    .projects-container {
        width: 70%;
        background-color: var(--bgcolor-contrast);
        color: white;
    }
}

.hero-skills {
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
    margin-top: 2rem;

    .skills-header {
        width: 30%;
        background-color: var(--skill-heading-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: var(--fontcolor-primary3);
        
        .skills-span-heading {
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                0 2px 0 #000,
                2px 0 0 #000,
                0 -2px 0 #000,
                -2px 0 0 #000,
                2px 2px 5px #000;
        }
    }

    .skills-container {
        width: 70%;
        background-color: var(--bgcolor-contrast);
        color: white;
    }
}

.anim, .anim1 {
    display: block;
    border-bottom: 2px dotted var(--bordercolor);
}

.anim1 {
    animation: surprise 3s ease-in-out 0s infinite forwards;
}

@keyframes surprise {
    0% {
        color: #7469B6;
    }

    20% {
        color: #874CCC;
    }

    40% {
        color: #C40C0C;
    }

    60% {
        color: #00504e;
    }

    80% {
        color: #38f79b72;
    }

    100% {
        color: #00c0bd72;
    }
}

#image-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

#image-container::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-image: var(--headercolor);
    top: 0%;
    left: 0%;
    z-index: 3;
    border-bottom: 5px ridge black;
}

#image-container::before {
    content: "";
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.15);
    z-index: 2;
}

.Skill-header {
    color: var(--fontcolor-primary3);
    position: absolute;
    font-size: 3rem;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 6;
    margin-bottom: 2rem;
    font-family: "Weddingday";
}

.skill-div {
    position: absolute;
    top: 0%;
    left: 0;
    width: 80vw;
    margin-left: 10vw;
    height: 100vh;
    z-index: 6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding-top: 5rem;
}

.skills {
    width: 250px;
    height: 150px;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    animation: animate 4s linear infinite;
    border: 5px solid black;
    display: grid;
    place-content: center;
    color: var(--fontcolor-primary3);
    font-size: var(--fs-heading-sm);
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.skills::before {
    content: '';
    position: absolute;
    inset: 0%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
}

.skills::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: var(--box-color);
    border-radius: 15px;
    border: 6px solid black;
}

.box-content {
    z-index: 10;
}



/* -------------  Carousel Projects Stylings -------------- */

.slider-hardware, .slider-software {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider-software {
    filter: none;
    border-top: 6px solid var(--project-heading-color);
}

.slide, .slide-web-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    max-height: 1300px;
    object-fit: fill;
    filter: contrast(1);
    background-color: rgba(0,0,0,0.35);
}

.slide .info, .slide-web-div .info {
    position: absolute;
    color: #EEE;
    background-color: rgba(0,0,0,0.55);
    width: 70%;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 25px rgba(244, 244, 244, 0.05);
}

.slide .info h2, .slide-web-div .info h2 {
    font-size: 1.75rem;
    padding: 0 0.5rem;
    text-transform: capitalize;
}

.slide .info p, .slide-web-div .info p {
    font-size: 0.85rem;
    padding: 0 0.5rem;
} 

#urls {
    padding-left: 0.5rem;
}

#urls a {
    color: var(--link-color);
}

#urls a:active {
    color: var(--link-color);
}

#urls a:hover {
    color: var(--fontcolor-primary2);
}

.navigation, .navigation-web {
    height: inherit;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.slider-hardware:hover .navigation, .slider-software:hover .navigation-web {
    opacity: 1;
}

.navigation-visibility, .navigation-visibility-web-div {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.navigation-visibility .slide-icons, .navigation-visibility-web-div .slide-icons-web-div {
    background-color: rgba(255,255,255,0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 4px;
    box-shadow: 0px 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility-web-div .active-icons, .navigation-visibility .active-icons {
    transition: background-color 0.8s;
    background-color: rgb(249, 25, 0);
}

.navigation .prev-btn, .navigation .next-btn, .navigation-web  .next-btn-web, .navigation-web  .prev-btn-web {
    font-size: 2rem;
    z-index: 999;
    color: #161616;
    padding: 0.45rem;
    background-color: rgba(255,255,255,0.75);
    cursor: pointer;
}

.navigation .prev-btn, .navigation-web .prev-btn-web {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navigation .next-btn, .navigation-web .next-btn-web {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.hero-projects .projects-container .hardware-projects {
    height: calc(100% / 2);
    background: grey;
}

.hero-projects .projects-container .web-projects {
    height: calc(100% / 2);
    background: crimson;
}

.hero-skills {
    filter: contrast(5);
}

.hero-skills .skills-container .technical-skills:hover {
    background-color: #007573;
}

.hero-skills .skills-container .technical-skills {
    height: calc(100% / 2);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: var(--fs-sm);
    padding: 0 0.5rem;
    transition: background-color 0.25s ease-in-out;
}

.hero-skills .skills-container .technical-skills .list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
}

.hero-skills .skills-container .technical-skills .list .list-items {
    font-size: var(--fs);
    background-color: var(--box-color); 
    text-transform: capitalize;
}

.hero-skills .skills-container .technical-skills .list {
    padding-left: 0.5rem;
    margin-left: 2rem;
}

.hero-skills .skills-container .technical-skills .icon-logo {
    background-color: var(--skill-heading-color);
    padding: 0 0.25rem;
}

.hero-skills .skills-container .nonTechnical-skills {
    height: calc(100% / 2);
    background: crimson;
}

/* -------------  End of Carousel Projects Stylings -------------- */

/* ---------- 
                Slide Transitions 
                                    ---------- */

    .slider-hardware .inactive, .slider-software .inactive {
        clip-path: circle(0% at 0 50%);
    }
                                        
    .slider-hardware .active, .slider-software .active {
        clip-path: circle(150% at 0 50%);
        transition: clip-path 0.8s ease-in;
    }

/* ---------- 
               End of Slide Transitions 
                                         ---------- */



@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate{
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

.hero-2 {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    .image-container {
        width: 100%;
        height: auto;
    }
    width: 100%;
    min-height: fit-content;
    position: relative;
    #header_svg {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.footer {
    width: 100%;
    height: 35vh;
    color: var(--footerColor);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;


    .description {
        text-align: center;
        text-transform: capitalize;
        font-size: 2rem;
        padding: 1rem;
    }

    .details {
        width: 100%;
        padding-left: 2rem;
        padding-top: 1rem;
        color: var(--footerColor);
    }

    .details a {
        color: var(--fontcolor-primary3);
    }

    .details a:hover {
        color: var(--footerColor);
    }

    .accounts {
        font-size: 1.2rem;
        display: block;
        padding: 0.5rem;
    }
    
    .ending {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .slider {
        font-size: var(--fs-sm);
    }

    .hero-1 {
        font-size: var(--fs-heading-sm);
        padding: 0.5rem;
    }

    .Skill-header {
        position: absolute;
        top: 2.25%;
    }

    .anim, .anim1 {
        border-bottom: 2px dotted var(--bordercolor);
    }

    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 150px;
        height: 120px;
    }

    .skills::after {
        inset: 3px;
    }
    
    .blur-div {
        width: 300px;
        height: 200px;
        transform: translate(-50%, -50%) skew(-12deg, -6deg);
        opacity: 0.65;
        border: 2px solid var(--bordercolor2);
        border-radius: 10px;
    }

    #image-container::after {
        height: 80px;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .hero-container {
        header {
            width: 100%;
            padding-top: 1.25rem;
            padding-left: 0.75rem;
        }

        .inner {
            font-size: 1rem;
        }
    }

    .hero-projects {
        flex-flow: column nowrap;

        .project-header {
            padding: 2rem;
            width: 100%;
        }

        .projects-container {
            width: 100%;
            height: 94vh;

            .slide .info {
                background-color: rgba(0,0,0,0.5);
                font-size: 1rem;
            }
        }
    }

    .hero-skills {
        flex-flow: column nowrap;

        .skills-header {
            padding: 2rem;
            width: 100%;
            order: 1;
        }

        .skills-container {
            height: 94vh;
            width: 100%;
            order: 2;
        }
    }

    #canvas1 {
        filter: blur(40px) contrast(20);
    }

    .hero-skills .skills-container .technical-skills .list .list-items {
        font-size: 1rem;
        padding: 0.25rem;
        margin-inline-end: 0;
    }
}

@media screen and (min-width: 440px) and (max-width: 580px) {
    .hero-container {
        header {
            width: 100%;
            padding-top: 1.25rem;
            padding-left: 1rem;
        }
    }

    #canvas1 {
        filter: blur(10px) contrast(20);
    }

    .hero-projects {
        flex-flow: column nowrap;

        .project-header {
            padding: 2rem;
            width: 100%;
        }

        .projects-container {
            width: 100%;
            height: 94vh;

            .slide .info {
                background-color: rgba(0,0,0,0.5);
                font-size: 1rem;
            }
        }
    }

    .hero-skills {
        flex-flow: column nowrap;

        .skills-header {
            padding: 2rem;
            width: 100%;
            order: 1;
        }

        .skills-container {
            height: 94vh;
            width: 100%;
            order: 2;
        }
    }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
    .slider {
        font-size: 2.5rem;
    }

    .hero-1 {
        font-size: 2.25rem;
        padding: 0.75rem;
    }

    .Skill-header {
        position: absolute;
        top: 3%;
    }

    .anim, .anim1 {
        border-bottom: 2px dotted var(--bordercolor);
    }

    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 240px;
        height: 150px;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .hero-projects {
        flex-flow: column nowrap;

        .project-header {
            padding: 2rem;
            width: 100%;
        }

        .projects-container {
            width: 100%;
            height: 94vh;

            .slide .info {
                background-color: rgba(0,0,0,0.5);
                font-size: 1rem;
            }
        }
    }

    .hero-skills {
        flex-flow: column nowrap;

        .skills-header {
            padding: 2rem;
            width: 100%;
            order: 1;
        }

        .skills-container {
            height: 94vh;
            width: 100%;
            order: 2;
        }
    }
    
    .hero-container {
        header {
            width: 100%;
            padding-top: 1.25rem;
            padding-left: 1rem;
        }
    }

    .footer {
        height: 30vh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .slider {
        font-size: 2.75rem;
    }

    .hero-1 {
        font-size: 2.75rem;
        padding: 1rem;
    }

    .Skill-header {
        position: absolute;
        top: 2.8%;
    }

    .anim, .anim1 {
        border-bottom: 2px dotted var(--bordercolor);
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .hero-container {
        header {
            width: 100%;
            padding-top: 1.5rem;
            padding-left: 1.25rem;
        }
    }

    .footer {
        height: 30vh;
    }
}

@media screen and (min-height: 1000px) {
    .footer {
        height: 25vh;
    }

    .Skill-header {
        top: 2.4%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
    .hero-container {
        header {
            width: 100%;
            padding-top: 1.5rem;
            padding-left: 1.25rem;
        }
    }
}

@media screen and (max-height: 480px) {
    .slider {
        font-size: 2.50rem;
    }

    .hero-1 {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .Skill-header {
        position: absolute;
        top: 6.5%;
    }

    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 160px;
        height: 80px;
        font-size: 1rem;
    }

    .hero-container {
        header {
            width: 100%;
            padding-top: 1.5rem;
            padding-left: 1.25rem;
        }
    }
}

@media screen and (max-height: 700px) and (max-width: 680px)  {
    .skill-div {
        margin: 0;
        width: 100%;
        font-size: 0.25rem;
    }

    .skills {
        width: 120px;
        height: 80px;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .footer {
        height: 35vh;
    }

    .hero-container {
        header {
            width: 100%;
            padding-top: 1.25rem;
            padding-left: 1rem;
        }
    }
}