/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --hfs: clamp(1.75rem, 6.6vh, 2.75rem);
    --hfs-b: clamp(2.75rem, 8vh, 3.5rem);
    --margin: 1rem;
    --padding-bg: 6rem;
    --padding: 1rem;
    --footerColor:#048b8b;
    --bgcolor: black;
    --fontcolor-primary1: #9BF2EA;
    --fontcolor-primary2: #0FC2C0;
    --fontcolor-primary4: #008684;
    --fontcolor-primary3: #EEE;
    --headerbgcolor: #0a1321;
    --bordercolor: #005272;
    --hovereffect: #2300c072;
    --headercolor: linear-gradient(45deg, #222831, #3b595b, #31363F);
    --fs-sm: 1.75rem;
    --ff-header: "Space Mono", monospace;
    --fs-heading: 3.5rem;
    --fs-heading-sm: 1.5rem;
    --box-color: #2d2d39;
}

/* GENERAL SYLES */

html {
    scroll-behavior: smooth;
    background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: var(--fontcolor-primary2);
    border-radius: 15px;
}

abbr, a {
    text-decoration: none;
}

/* UTILITY CLASSES */

.nowrap {
    white-space: nowrap;
    display: block;
}

#canvas1 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--bgcolor);
    width: 100%;
    height: 100%;
    filter: blur(6px) contrast(10);
}

.active {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/* END OF THE UTILITY CLASSES */

/* Section Animations */

.intersect {
    opacity: 0;
    transform: translateX( -100%);
    backdrop-filter: blur(10px);
    filter: contrast(10) saturate(10);
    transition: all 1.5s;
}

.show-intersect {
    opacity: 1;
    transform: translateX(0%);
    filter: contrast(1) saturate(1);
    backdrop-filter: blur(0px);
}

/* End of Section Animations */

.hero-container {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    background: transparent;
    width: 100%;
    height: 100%;

    .container {
        position: absolute;
        top: 6%;
        left: 74%;
    }

    .inner {
        z-index: 1000;
        color: var(--fontcolor-primary2);
        background-color: var(--fontcolor-primary4);
        width: 350px;
        height: auto;
        padding: 2rem;
        position: relative;
        clip-path: circle(8% at 90.5% 22.5%);
        opacity: 1;
        filter: none;
        transition: clip-path 0.5s ease-in-out;
        border-radius: 20px;
        
        span {
            position: absolute;
            top: 13.5%;
            left: 89.5%;
        }
    }

    .inner:hover {
        background-color: var(--box-color);
        clip-path: circle(80%);

        span {
            display: none;
        }
    }
}

.slider {
    position: absolute;
    font-size: var(--hfs);
    color: var(--fontcolor-primary3);
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    filter: contrast(10);
    backdrop-filter: blur(10px);
}

.blur-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    opacity: 0.25;
    width: 264px;
    height: 64px;
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
    margin-bottom: 5px;
}

.hero-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    color: var(--fontcolor-primary2);
    font-size: var(--fs-heading);
    font-family: var(--ff-header);
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;

    #background-2{
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: contrast(2) saturate(15);
        background-color: rgba(0,0,0,0.25);
    }
}

.anim, .anim1 {
    display: block;
    border-bottom: 1px dotted var(--bordercolor);
}

#image-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

#image-container::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-image: var(--headercolor);
    top: 0%;
    left: 0%;
    z-index: 3;
    border-bottom: 5px ridge black;
}

#image-container::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.15);
    z-index: 2;
}

.Skill-header {
    color: var(--fontcolor-primary3);
    position: absolute;
    font-size: 3rem;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 6;
    margin-bottom: 2rem;
    font-family: "Weddingday";
}

.skill-div {
    position: absolute;
    top: 0%;
    left: 0;
    width: 80vw;
    margin-left: 10vw;
    height: 100vh;
    z-index: 6;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding-top: 5rem;
}

.skills {
    width: 280px;
    height: 150px;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    animation: animate 4s linear infinite;
    border: 5px solid black;
    display: grid;
    place-content: center;
    color: var(--fontcolor-primary3);
    font-size: var(--fs-heading-sm);
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.skills::before {
    content: '';
    position: absolute;
    inset: 0%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
}

.skills::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: var(--box-color);
    border-radius: 15px;
    border: 6px solid black;
}

.box-content {
    z-index: 10;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate{
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

.hero-2 {
    width: 100%;
    height: auto;
    position: relative;
    #header_svg {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
}

.footer {
    width: 100%;
    height: 40vh;
    color: var(--footerColor);
    position: relative;

    .description {
        text-align: center;
        text-transform: capitalize;
        font-size: 2rem;
        padding: 1rem;
    }

    .details {
        width: 100%;
        padding-left: 2rem;
        padding-top: 1rem;
        color: var(--footerColor);
    }

    .details a {
        color: var(--fontcolor-primary3);
    }

    .details a:hover {
        color: var(--footerColor);
    }

    .accounts {
        font-size: 1.2rem;
        display: block;
        padding: 0.5rem;
    }
    
    .ending {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .slider {
        font-size: var(--fs-sm);
    }

    .hero-1 {
        font-size: var(--fs-heading-sm);
        padding: 0.5rem;
    }

    .Skill-header {
        position: absolute;
        top: 2.25%;
    }

    .anim, .anim1 {
        border-bottom: 2px dotted var(--bordercolor);
    }

    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 150px;
        height: 120px;
    }

    .skills::after {
        inset: 3px;
    }
    
    #image-container::after {
        height: 80px;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
    .slider {
        font-size: 2.5rem;
    }

    .hero-1 {
        font-size: 2.25rem;
        padding: 0.75rem;
    }

    .Skill-header {
        position: absolute;
        top: 3%;
    }

    .anim, .anim1 {
        border-bottom: 2px dotted var(--bordercolor);
    }

    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 240px;
        height: 150px;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .slider {
        font-size: 2.75rem;
    }

    .hero-1 {
        font-size: 2.75rem;
        padding: 1rem;
    }

    .Skill-header {
        position: absolute;
        top: 2.8%;
    }

    .anim, .anim1 {
        border-bottom: 2px dotted var(--bordercolor);
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

@media screen and (max-height: 480px) {
    .slider {
        font-size: 2.50rem;
    }

    .hero-1 {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .Skill-header {
        position: absolute;
        top: 6.5%;
    }

    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 160px;
        height: 80px;
    }
}

@media screen and (max-height: 700px) and (max-width: 680px)  {
    .skill-div {
        margin: 0;
        width: 100%;
    }

    .skills {
        width: 150px;
        height: 120px;
    }

    .details {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}